/* Primary stylesheet for COMP001A Lecture Activity 3
   Author: TJ Miranda */
body {
    font-family: sans-serif;
    padding: 1em;
    max-width: 600px;
}

h1 {    
    font-size: 180%;
    color: #0033cc;
}

h2 {
    font-size: 140%;
    
}

ul {
    list-style-type: square;
}

div img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
